@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');
@keyframes blink-effect {
    50% {
    opacity: 0;
    }
    }
@media screen and (min-width:1024px){
    header {
        height: 20%;
        text-align: center;
        background-color: black;
    }
    
    img{width: 40%;}
    
    .nav1{
        height: 10%;
        background-color: black;
        padding: 1.5%;
        border-bottom: 1px solid darkred;
        font-size: 1.3vw;
    }
    
    ul li a {
        text-decoration-line: none;
        font-weight: bold;
    }
    a:link {color: darkred; }
    a:visited { color:darkred; }
    a:hover{color: red;}
    
    
    .nav1 ul li{
        list-style-type: none;
        display: inline;
        margin-left: 10%;
    }
    
    .nav2{
        padding: 2%;
        border: 2px solid darkred;
        line-height: 5vw;
        background-color: black;
        font-size: 1.3vw;
    }
    
    
    .content{
        display: flex;
    }
    
    .content .nav2{
        flex: 15%;
    }
    section{
        background-color: black;
        flex: 65%;
        color: rgb(201, 109, 109);
    }
    .char{
        display: flex;
        padding: 2%;
        font-size: 1.1vw;
    }
    .c-img{
        flex: 30%;
    }
    .actor{
        text-decoration: underline;
    }
    .c-img img{
        width: 100%;
    }
    .intro p{
        font-size: 1.4vw;
        line-height: 2vw;
    }
    .intro{
        flex: 70%;
        padding-left: 2%;
        line-height: 150%;
    }
    aside{
        padding-top: 10%;
        background-color: black;
        flex: 20%;
        width: 100%;
        font-size: 1.3vw;
    }
    aside div{
        position: fixed;
        text-align: center;
        color: darkred;
        font-weight: bold;
        padding: 1%;
    }
    aside div img{
        width: 90%;
        border: 1px solid darkred;
    }
    .blink{
        animation: blink-effect 1.5s step-end infinite;
        color: red;
        font-weight: bold;
    }
    
    footer{
        background-color: black;
        padding: 3vw;
        color: wheat;
        font-size: 1vw;
        text-align: center;
    }
    footer a:link {color: wheat; }
    footer a:visited { color:wheat; }
    footer a:hover{color: pink;}
}
@media screen and (max-width:1023px){
    header {
        height: 20%;
        text-align: center;
        background-color: black;
    }
    
    img{width: 40%;}
    
    .nav1{
        height: 10%;
        background-color: black;
        padding: 1.5%;
        border-bottom: 1px solid darkred;
        font-size: 1.3vw;
    }
    
    ul li a {
        text-decoration-line: none;
        font-weight: bold;
    }
    a:link {color: darkred; }
    a:visited { color:darkred; }
    a:hover{color: red;}
    
    
    .nav1 ul li{
        list-style-type: none;
        display: inline;
        margin-left: 10%;
    }
    
    .nav2{
        padding: 2%;
        border: 2px solid darkred;
        line-height: 5vw;
        background-color: black;
        font-size: 1.3vw;
    }
    
    
    .content{
        display: flex;
    }
    
    .content .nav2{
        flex: 15%;
    }
    section{
        background-color: black;
        flex: 65%;
        color: rgb(201, 109, 109);
    }
    .char{
        display: flex;
        padding: 2%;
        font-size: 1.1vw;
    }
    .c-img{
        flex: 30%;
    }
    .actor{
        text-decoration: underline;
    }
    .c-img img{
        width: 100%;
    }
    .intro p{
        font-size: 1.4vw;
        line-height: 2vw;
    }
    .intro{
        flex: 70%;
        padding-left: 2%;
        line-height: 150%;
    }
    aside{
        padding-top: 10%;
        background-color: black;
        flex: 20%;
        width: 100%;
        font-size: 1.3vw;
    }
    aside div{
        position: fixed;
        text-align: center;
        color: darkred;
        font-weight: bold;
        padding: 1%;
    }
    aside div img{
        width: 90%;
        border: 1px solid darkred;
    }
    .blink{
        animation: blink-effect 1.5s step-end infinite;
        color: red;
        font-weight: bold;
    }
    
    footer{
        background-color: black;
        padding: 3vw;
        color: wheat;
        font-size: 1vw;
        text-align: center;
    }
    footer a:link {color: wheat; }
    footer a:visited { color:wheat; }
    footer a:hover{color: pink;}
}
@media screen and (max-width:767px){
    header {
        height: 20%;
        text-align: center;
        background-color: black;
    }
    
    img{width: 40%;}
    
    .nav1{
        height: 10%;
        background-color: black;
        padding: 1.5%;
        border-bottom: 1px solid darkred;
        font-size: 1.3vw;
    }
    
    ul li a {
        text-decoration-line: none;
        font-weight: bold;
    }
    a:link {color: darkred; }
    a:visited { color:darkred; }
    a:hover{color: red;}
    
    
    .nav1 ul li{
        list-style-type: none;
        display: inline;
        margin-left: 10%;
    }
    
    .nav2{
        padding: 2%;
        border: 2px solid darkred;
        line-height: 5vw;
        background-color: black;
        font-size: 1.3vw;
    }
    
    
    .content{
        display: flex;
    }
    
    .content .nav2{
        flex: 15%;
    }
    section{
        background-color: black;
        flex: 65%;
        color: rgb(201, 109, 109);
    }
    .char{
        display: flex;
        padding: 2%;
        font-size: 1.1vw;
    }
    .c-img{
        flex: 30%;
    }
    .actor{
        text-decoration: underline;
    }
    .c-img img{
        width: 100%;
    }
    .intro p{
        font-size: 1.4vw;
        line-height: 2vw;
    }
    .intro{
        flex: 70%;
        padding-left: 2%;
        line-height: 150%;
    }
    aside{
        padding-top: 10%;
        background-color: black;
        flex: 20%;
        width: 100%;
        font-size: 1.3vw;
    }
    aside div{
        position: fixed;
        text-align: center;
        color: darkred;
        font-weight: bold;
        padding: 1%;
    }
    aside div img{
        width: 90%;
        border: 1px solid darkred;
    }
    .blink{
        animation: blink-effect 1.5s step-end infinite;
        color: red;
        font-weight: bold;
    }
    
    footer{
        background-color: black;
        padding: 3vw;
        color: wheat;
        font-size: 1vw;
        text-align: center;
    }
    footer a:link {color: wheat; }
    footer a:visited { color:wheat; }
    footer a:hover{color: pink;}
}

